@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="hero row align-items-center">
        <div class="col-lg-5 col-md-6">
            <div class="about-img">
                <h2 class="fa-5x">Cliente</h2>
            </div>
        </div>
        <div class="col-lg-7 col-md-6">
            <div class="about-text">
                <div class="form">
                    <h2>Datos del Estudiante</h2>
                    <form action="~/CarCenter/RegistroCliente" method="post">
                        <div class="hero row align-items-center">
                            <div class="col-lg-10 col-md-6">
                                <input class="form-control mt-2" type="text" name="pri_nombre" placeholder="Nombres" value="">
                                <input class="form-control mt-2" type="text" name="pri_apellido" placeholder="Apellido" value="">
                                <div class="control-group">
                                    <select class="custom-select mt-2" name="tipo_doc">
                                        <option selected>Genero</option>
                                        <option value="1">Hombre</option>
                                        <option value="2">Mujer</option>
                                        <option value="3">No responde</option>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <select class="custom-select mt-2" name="tipo_servicio">
                                        <option selected>Tipo direccion</option>
                                        <option value="1">Domicilio</option>
                                        <option value="2">Laboral</option>
                                        <option value="3">Temporal</option>
                                    </select>
                                </div>
                                <input class="form-control mt-2" type="text" name="direccion" placeholder="Dirección" value="">
                            </div>
                            <div class="col-lg-2 col-md-6"></div>
                        </div>
                        <!-- <button type"submit" class="btn bg-success fa-2x mt-4">@Html.ActionLink("Ingresar cliente", "RegistroCliente", "CarCenter", new { })</button> -->
                        <button type"submit" class="btn bg-success mt-4">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
